@page  "{id:Guid?}"
@model AssignCourses
@{
    ViewData["Title"] = "Assign Courses";
}
<br />
<br />
<h3>Assign Courses</h3>
<h4>Instructor - @Model.Instructor.FullName</h4>
<hr />
<div>
    <form method="post">
        <input type="hidden" asp-for="Instructor.Id" />
        <div class="row">
            @{
                var counter = 0;

                @foreach (var course in Model.CourseAssignments.AssignedCourses)
                {
                    if (counter != 0 && counter % 3 == 0)
                    {
                    @:</div>
                    @:<div class="row">
                    }

                    <div class="col-lg-4">
                        <input asp-for="@course.IsChecked" class="form-check-input" name="selectedCourses" value="@course.Id" />
                        <label asp-for="@course.IsChecked">@course.Display</label>
                        <input type="hidden" asp-for="@course.Id" />
                        <input type="hidden" asp-for="@course.Display" />
                    </div>

                    counter++;
                }
            }
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}