@page "{id:Guid?}"
@model ContosoUniversity.Web.Pages.Instructors.IndexModel

@{
    ViewData["Title"] = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstructorsIndex.Instructors)
        {
            string selectedRow = "";
            if (item.Id == Model.InstructorId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @{
                        foreach (var course in item.CourseAssignments)
                        {
                            @course.Course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-page="./AssignCourses" asp-route-id="@item.Id">Assign Courses</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.InstructorsIndex.Courses != null)
{
    <h4>Courses Taught by Selected Instructor</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Department</th>
            <th></th>
        </tr>

        @foreach (var item in Model.InstructorsIndex.Courses)
        {
            string selectedRow = "";
            if (item.Id == Model.CourseId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.DepartmentName
                </td>
                <td>
                    <a asp-page="./Index" asp-route-courseId="@item.Id">Select</a>
                </td>
            </tr>
        }

    </table>
}

@if (Model.InstructorsIndex.Enrollments != null)
{
<h4>
    Students Enrolled in Selected Course
</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.InstructorsIndex.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}
