@page "{id}"
@model ContosoUniversity.Web.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<br/>
<h2>Student Details</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Prefix)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Prefix)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MiddleName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MiddleName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Suffix)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Suffix)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EnrollmentDate)
        </dd>
    </dl>
</div>
<h4>Enrollment Details</h4>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Student.Enrollments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
</dd>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
