@page
@model ContosoUniversity.Web.Pages.Departments.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<h2>Department Details</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Budget)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.FoundedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.FoundedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.DepartmentChairName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentChairName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
